:root {
  /* Variables that will change in light mode */
  --title: #fff;
  --text: #ccc;
  --separator: #343434;
  --details: #4a4a4a;
  --bg_main: #171717;
  --bg_footer: #0a0a0a;

  --emphasis: #62d4f3;
  --lg: linear-gradient(40deg, #62d4f3 0%, #3098b5 100%);
  --c9: #0a0a0a;
  --c8: #171717;
  --c7: #272727;
  --c6: #343434;
  --c5: #4a4a4a;
  --c4: #707070;
  --c3: #9a9a9a;
  --c2: #cccccc;
  --c1: #f3f3f3;
  --c0: #fff;
}

:root.light {
  --title: #0a0a0a;
  --text: #171717;
  --separator: #ccc;
  --details: #9a9a9a;
  --bg_main: #f3f3f3;
  --c0: #0a0a0a;
}

.white {
  color: #fff;
}

.title {
  color: var(--title);
}

.text {
  color: var(--text);
}

.c1_footer {
  color: #f3f3f3;
}

.text_footer {
  color: #ccc;
}

.emphasis {
  color: var(--emphasis);
}

.c9 {
  color: var(--c9);
}

.c8 {
  color: var(--c8);
}

.c7 {
  color: var(--c7);
}

.c6 {
  color: var(--c6);
}

.c5 {
  color: var(--c5);
}

.c4 {
  color: var(--c4);
}

.c3 {
  color: var(--c3);
}

.c2 {
  color: var(--c2);
}

.c1 {
  color: var(--c1);
}

.c0 {
  color: var(--c0);
}

/* Light mode SVG's */

.light svg.logo {
  filter: invert(0%) sepia(9%) saturate(1032%) hue-rotate(4deg) brightness(5%) contrast(92%);
}

.light svg.arrowSvg {
  filter: invert(0%) sepia(2%) saturate(2871%) hue-rotate(317deg) brightness(5%) contrast(100%);
}
