footer {
  background-color: var(--c9);
  margin-top: clamp(60px, 120px, 150px);
}

.footer_info {
  padding-top: clamp(40px, 80px, 100px);
  padding-bottom: clamp(60px, 120px, 150px);
}

.grid_footer {
  display: grid;
  grid-template-columns: 1fr repeat(3, 0.5fr);
  gap: clamp(20px, 40px, 60px);
}

.footer_info h3 {
  margin-top: 10px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contact_info,
.footer_info_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_logo {
  margin-top: 10px;
}

.footer_info_links a, .contact_info a {
  max-width: fit-content;
}

.footer_info_links a:hover,
.contact_info a:hover {
  opacity: 0.7;
}
