.home {
  padding-top: clamp(40px, 80px, 100px);
}

.main_info .text,
.main_info .title {
  line-height: 1;
}

.main_info .techs {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.main_info .techs::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 5px;
  background: var(--lg);
}

.main_img {
  justify-self: end;
}

.main_img svg {
  max-width: 100%;
}

.call_to_project {
  max-width: fit-content;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 10px;
  /* border-bottom: 2px solid transparent; */
}

.call_to_project svg {
  transition: 0.2s ease;
}

.call_to_project:hover {
  opacity: 0.7;
}

.call_to_project:hover svg {
  transform: translate3d(5px, 0, 0);
}

/* Type Effect */

.home .cursor {
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 15px;
  background-color: var(--text);
  animation: blink 0.5s step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: var(--text);
  }
}

.techs {
  height: 20px;
}

@media screen and (max-width: 540px) {
  .home .grid {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .main_img {
    width: 300px;
    grid-row: 2;
    justify-self: center;
  }

  .call_to_project {
    grid-row: 3;
  }
}